.root {
  display: grid;
  text-align: center;
  height: 100vh;
  overflow-x: hidden;
  justify-items: center;
  grid-template-areas:
          '. dog .'
          '. title .'
          '. github car'
          '. clippy .';
  @media (min-width: 768px) {
    grid-template-areas:
          'dog . title . .'
          '. . github . car'
          '. . . . clippy';
  }
}

.title {
  color: white;
  grid-area: title;
}

.h2 {
  color: -webkit-link;
}

@keyframes spin {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}

.dog {
  grid-area: dog;
  border-radius: 40%;
  animation: spin 10s linear infinite;
}

.clippy {
  margin-top: auto;
  grid-area: clippy;


}

.github {
  grid-area: github;
}

@keyframes move {
  0% {transform: translateX(10vw);}
  100% {transform: translateX(-100vw)}
}

.carContainer {
  grid-area: car;
  position: relative;
}

.car {
  position: absolute;
  animation: move 5s linear infinite;
  margin: -100px;
}
